* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
}

.welcome-screen {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(space_background.jpg);
}

.container {
  display: none;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(space_background.jpg);
  width: 100vw;
  height: 100vh;
  color: white;
}

.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: nav 3s ease 1s forwards;
  opacity: 0;
  cursor: pointer;
  margin-bottom: 5vh;
}

@keyframes nav {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-items li:hover {
  opacity: 0.8;
}

.nav-items h2:hover {
  color: yellow;
}

.footer-btn {
  display: flex;
  gap: 10px;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  animation: footer 4s ease 1s forwards;
  opacity: 0;
  font-size: 16px;
}

@keyframes footer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer-btn button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.footer-btn button:hover {
  color: yellow;
  opacity: 0.8;
}

.footer-button-disable {
  text-decoration: line-through;
}

.main-content {
  animation: fade-in 2s ease forwards;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: content-up 3s ease forwards;
  opacity: 0;
}

@keyframes content-up {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.content-first {
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  position: relative;
  bottom: 18vw;
  left: 110vh;
}

.content-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.content-btn {
  margin: 20px;
  position: relative;
  bottom: 70vh;
}

.content-img-menu {
  width: 35px;
  height: 35px;
  border-radius: 15px 17px 20px 14px;
  background-color: white;
  color: black;
  border: 3px solid black;
  cursor: pointer;
  transition: 0.8s ease;
}

.content-img-menu:hover {
  color: white;
  background-color: rgb(48, 48, 48);
}

.hidden {
  display: none;
}

.content-first {
  animation: first-in 3s ease forwards;
  opacity: 0;
}

@keyframes first-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content-img-close {
  width: 35px;
  height: 35px;
  border-radius: 15px 17px 20px 14px;
  background-color: white;
  color: black;
  border: 3px solid black;
  cursor: pointer;
  transition: 0.8s ease;
}

.content-img-close:hover {
  background-color: rgb(48, 48, 48);
  color: white;
}

.nasa-img {
  width: 100vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: nasa-img-up 3s ease forwards;
  opacity: 0;
}

@keyframes nasa-img-up {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.nasa-img-dives {
  display: flex;
}

.nasa-img h1 {
  margin: 20px;
  position: relative;
  bottom: 3vh;
}

.nasa-img-div img {
  width: 100%;
  height: 20vh;
  background-color: aqua;
  border-radius: 10px;
}

.nasa-img-div {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 30vh;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
}

.nasa-img-div-details {
  margin: 20px;
}

.nasa-btn {
  margin-top: 5vh;
  display: flex;
  gap: 8px;
}

.nasa-btn button {
  width: 2vw;
  height: 3vh;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.6s ease;
}

.nasa-btn button:hover {
  background-color: black;
  color: white;
}

.nasa-btn-1 {
  border-radius: 15px 18px 15px 14px;
}

.nasa-btn-2 {
  border-radius: 15px 15px 12px 14px;
}

.nasa-btn-3 {
  border-radius: 25px 20px 25px 20px;
}

.nasa-btn-4 {
  border-radius: 24px 26px 24px 26px;
}

.nasa-btn-5 {
  border-radius: 23px 27px 23px 27px;
}

.nasa-img-close {
  position: relative;
  left: 48%;
  bottom: 20%;
  width: 1.5vw;
  height: 3vh;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 14px 12px 14px 12px;
  transition: 1s ease;
}

.nasa-img-close:hover {
  background-color: black;
  color: white;
}

.science-news-page {
  width: 100vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  animation: science-news-page 3s ease forwards;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.science-news-page h1 {
  margin-bottom: 1vh;
}

.science-news-page-button {
  width: 2.5vw;
  height: 3vh;
  background-color: white;
  color: black;
  border-radius: 12px 18px 14px 16px;
  border: 2px solid black;
  transition: 0.8s ease;
  position: relative;
  left: 48vw;
  top: 1vh;
}

.science-news-page-button:hover {
  background-color: black;
  color: white;
}

@keyframes science-news-page {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.science-news-page-item {
  width: 18vw;
  height: 26vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2vh;
}

.science-news-page-item img {
  width: 100%;
  height: 15vh;
  background-color: coral;
  margin-bottom: 1vh;
}

.science-news-page-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh;
}

.science-news-page-details {
  margin-left: 20px;
  margin-right: 20px;
}

.science-news-page-details h1 {
  font-size: 18px;
}

.science-news-page-details p {
  margin-bottom: 2px;
  font-size: 12px;
}

.science-news-page-img {
  cursor: pointer;
}

.pagination-button-div {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination-button-div button {
  width: 35px;
  height: 30px;
  background-color: white;
  color: black;
  border-radius: 12px 18px 14px 17px;
  border: 2px solid white;
  transition: 0.7s ease-out;
  cursor: pointer;
}

.pagination-button-div button:hover {
  background-color: black;
  color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    font-size: 14px; /* 폰트 크기 조정 */
  }

  .welcome-screen {
    font-size: 1.5em;
    background-size: cover;
  }

  .nav {
    height: 8vh; /* 네비게이션 높이 조정 */
    flex-direction: column;
  }

  .nav-items {
    flex-direction: flex; /* 네비게이션 항목 수직 정렬 */
    gap: 10px;
  }

  .footer-btn {
    font-size: 18px; /* 버튼 폰트 크기 조정 */
    gap: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1vh; /* 버튼 위치 조정 */
  }

  .footer-btn button {
    width: 50px;
    height: 35px; /* 버튼 크기 조정 */
  }

  .content {
    flex-direction: column; /* 컨텐츠 수직 정렬 */
    justify-content: center;
    align-items: center;
  }

  .content-first {
    width: 90vw; /* 컨텐츠 크기 조정 */
    height: 30vh;
    left: 0;
    bottom: 0;
    margin: 10px;
  }

  .nasa-img {
    width: 100vw;
    height: 60vh;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .nasa-img-div {
    width: 80vw;
    height: 30vh; /* 이미지 컨테이너 크기 조정 */
    margin: 10px 0;
  }

  .nasa-btn button {
    width: 20px;
    height: 20px; /* 버튼 크기 조정 */
  }

  .science-news-page {
    width: 100vw;
    height: auto; /* 높이 자동 조정 */
    padding: 10px;
  }

  .science-news-page-item {
    width: 80vw;
    height: auto; /* 높이 자동 조정 */
    margin-top: 1vh;
  }

  .science-news-page-item img {
    height: 15vh; /* 이미지 크기 조정 */
  }

  .pagination-button-div button {
    width: 60px;
    height: 40px; /* 페이지 버튼 크기 조정 */
  }

  .science-news-page-button {
    width: 30px;
    height: 30px;
    position: relative;
    right: 100px;
  }

  .main-content img {
    width: 100%;
    height: 300px;
  }

  .content-btn {
    position: relative;
    left: 100px;
  }
}

